<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LiveCard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="wrapper">
    <h1 style="color:rgb(0, 0, 0)">
      Ustvari svoj digitalni profil – hitro, enostavno, brezplačno!
    </h1>
    <h3 style="color:rgb(0, 0, 0)">
      Poveži se z ljudmi na enostaven način
    </h3>
    <br><br>  
    <a href="{{ url_for('login') }}">
      <button>Login</button>
    </a>
    <br><br>
    <a href="{{ url_for('register') }}">
      <button>Register</button>
    </a>
  </div>
</body>
</html>