<!DOCTYPE html>
<html lang="sl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LiveCard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="wrapper">
    <h1>
      Ustvari svoj digitalni profil – hitro, enostavno, brezplačno!
    </h1>
    <h3>
      Poveži se z ljudmi na enostaven način!
    </h3>
    
    <a href="{{ url_for('login') }}">
      <button>Prijava</button>
    </a>
    
    <a href="{{ url_for('register') }}">
      <button>Registracija</button>
    </a>
  </div>
</body>
</html>