<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveCard - Digitalna Vizitka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>LiveCard</h1>
    <p>Vaša digitalna vizitka na enem mestu.</p>
    <a href="{{ url_for('login_user') }}">
        <button>Prijava</button>
    </a>
    <a href="{{ url_for('register_user') }}">
        <button>Registracija</button>
    </a>
</body>
</html>
