<!DOCTYPE html>
<html lang="sl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prijava - LiveCard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="wrapper">
    <div class="form-wrapper sign-in">
      <form method="POST">
        <h2>Prijava</h2>
        {% if error %}
          <div class="error">{{ error }}</div>
        {% endif %}
        <div class="input-group">
          <input type="text" name="username" required>
          <label>Uporabniško ime</label>
        </div>
        <div class="input-group">
          <input type="password" name="password" required>
          <label>Geslo</label>
        </div>
        <button type="submit">Prijava</button>
        <div class="signUp-link">
          <p>Še nimaš računa? <a href="{{ url_for('register') }}">Registracija</a></p>
        </div>
      </form>
    </div>
  </div>
</body>
</html>