<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registracija - LiveCard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="wrapper">
    <div class="form-wrapper sign-up">
      <form method="POST">
        <h2>Registracija</h2>
        {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
        <div class="input-group">
          <input type="text" name="username" required>
          <label>Uporabniško ime</label>
        </div>
        <div class="input-group">
          <input type="email" name="email" required>
          <label>E-pošta</label>
        </div>
        <div class="input-group">
          <input type="password" name="password" required>
          <label>Geslo</label>
        </div>
        <button type="submit">Registracija</button>
        <div class="signUp-link">
          <p>Že imaš račun? <a href="{{ url_for('login') }}">Prijava</a></p>
        </div>
      </form>
    </div>
  </div>
</body>
</html>